<footer>
  <div class="social-wrapper">
    <!-- <a
      title="Kamil Mysliwiec 的 Facebook"
      href="https://www.facebook.com/kammysliwiec/"
      target="_blank"
      ><i class="fa-brands fa-facebook"></i
    ></a> -->
    <!-- <a
      title="Kamil Mysliwiec 的 Twitter"
      href="https://twitter.com/kammysliwiec"
      target="_blank"
      ><i class="fa-brands fa-x-twitter"></i
    ></a> -->
    <a
      title="Kamil Mysliwiec 的 Github"
      href="https://github.com/kamilmysliwiec"
      target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a
      href="https://kamilmysliwiec.com"
      title="Kamil Mysliwiec 博客 | 全栈软件工程师"
      target="_blank"
      ><i class="fa-solid fa-globe"></i
    ></a>
  </div>
  <div class="credits">
    <p>
      版权所有 © 2017-{{ currentDate | date : 'yyyy' }} MIT 许可，作者
      <a
        href="https://kamilmysliwiec.com"
        target="_blank"
        title="Kamil Mysliwiec 博客 | 全栈软件工程师"
      >
        Kamil Mysliwiec</a
      ><span class="separator"></span> 设计者
      <a
        href="https://dribbble.com/JakubStaron"
        title="Jakub Staron Dribble"
        target="_blank"
        >Jakub Staron</a
      >
      <br />
      官方 NestJS 咨询
      <a
        href="https://trilon.io"
        target="_blank"
        title="官方 NestJS 咨询 | Angular 咨询"
      >
        Trilon.io</a
      >
      <span class="separator"> </span> 托管于
      <a href="https://www.netlify.com" target="_blank">Netlify</a>
    </p>
  </div>
</footer>
