<app-header (toggle)="toggleSidebar()" [isSidebarOpened]="isSidebarOpened">
  <div class="logo-wrapper">
    <a
      href="https://nestjs.xuxo.top/"
      title="文档 | NestJS - 基于 TypeScript 的 Node.js 框架"
    >
      <img alt="NestJS 标志" src="/assets/logo-small-gradient.svg" />
    </a>
  </div>
</app-header>
<div class="container-fluid">
  <app-menu [class.opened]="isSidebarOpened" class="app-menu"></app-menu>
  <div class="container" [class.wide]="!isSidebarOpened">
    <div class="page-wrapper">
      <app-toc [contentReference]="contentRef"></app-toc>
      <router-outlet (activate)="onRouteActivate($event)"></router-outlet>
    </div>
    <div class="sponsors-wrapper">
      <div class="sponsors-container">
        <h3>支持我们</h3>
        <p>
          Nest 是一个基于 MIT
          许可的开源项目。感谢这些优秀的人们的支持，它才能不断发展。如果你也想加入他们，请点击<a
            routerLink="/support"
            >这里</a
          >了解更多。
        </p>
        <div class="row clearfix">
          <div class="inline-column">
            <h4 class="title">主要赞助商</h4>
            <a
              href="https://trilon.io/"
              target="_blank"
              class="logo-sponsor-container"
            >
              <img
                src="/assets/sponsors/trilon.svg"
                alt="Trilon 标志"
                class="logo-sponsor"
              />
            </a>
            <!-- <a href="https://www.redhat.com/" target="_blank" class="logo-sponsor-container">
              <img src="/assets/sponsors/red-hat-logo.svg" alt="Red Hat 标志" class="logo-sponsor" />
            </a> -->
            <!-- <a href="https://github.com/Sanofi-IADC" target="_blank" class="logo-sponsor-container">
              <img
                src="/assets/sponsors/sanofi.png"
                alt="Sanofi 标志"
                class="logo-sponsor"
              />
            </a>
            <a href="https://nx.dev/" target="_blank" class="logo-sponsor-container">
              <img
                src="/assets/sponsors/nx-logo.png"
                alt="Nx 标志"
                class="logo-sponsor logo-sponsor--slim"
              />
            </a>-->
            <a
              href="https://mojam.co"
              target="_blank"
              class="logo-sponsor-container"
            >
              <img
                src="/assets/sponsors/mojam-logo.png"
                alt="Mojam 标志"
                class="logo-sponsor logo-sponsor--slim"
              />
            </a>
          </div>
          <div class="inline-column">
            <h4 class="title">赞助商 / 合作伙伴</h4>
            <a
              href="https://opencollective.com/nest"
              class="btn btn-primary"
              target="_blank"
              rel="nofollow"
            >
              <span>成为赞助商</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-newsletter></app-newsletter>
    <app-footer>
      <p>
        制作人
        <a
          href="https://kamilmysliwiec.com"
          target="_blank"
          title="Kamil Mysliwiec 博客 | 全栈软件工程师"
        >
          Kamil Myśliwiec
        </a>
      </p>
    </app-footer>
  </div>
</div>
