<nav class="nav-container" (click)="$event.stopPropagation()">
  <app-menu-item
    *ngFor="let item of items"
    [isOpen]="item.isOpened"
    [title]="item.title"
    [externalUrl]="item?.externalUrl"
    [isNew]="item.isNew"
    [icon]="item?.icon"
    [path]="item?.path"
    [children]="item.children"
    class="nav-item"
  ></app-menu-item>
  <a
    href="https://enterprise.nestjs.com"
    target="_blank"
    title="企业版 | NestJS - 基于 TypeScript 构建的 Node.js 框架"
    class="btn btn-support"
    >获取企业支持</a
  >
  <a href="https://docs.nestjs.com/v10" class="btn btn-version">版本 10</a>
</nav>
