<div class="social-wrapper">
  <!-- <a href="https://twitter.com/nestframework"
     title="Twitter account"
     target="_blank">
    <i class="fa-brands fa-x-twitter"></i>
  </a> -->
  <a href="https://github.com/nestjs/nest"
     title="Github 主页"
     target="_blank">
    <i class="fa-brands fa-github"></i>
  </a>
  <a href="https://stackoverflow.com/questions/tagged/nestjs"
     title="社区"
     target="_blank">
    <i class="fa-brands fa-stack-overflow"></i>
  </a>
  <a
    href="https://nestjs.com"
    title="NestJS - 一个构建在 TypeScript 之上的 node.js 框架"
    target="_blank"
  >
    <i class="fa fa-globe"></i>
  </a>
  <a href="https://discord.gg/G7Qnnhy"
     title="Discord"
     target="_blank"
     rel="nofollow">
    <i class="fa-brands fa-discord"></i>
  </a>
</div>
